<form >
  <div class="container metallic">
    <h3 class="center">Add Details for your report card</h3>
    <div class="row">
      <div class="col-md-6">
        <input name="firstname" placeholder="Enter Your First Name:" class="button4">
      </div>
      <br>
      <div class="col-md-6">
        <input name="lastname" placeholder="Enter Your Last Name:" class="button4">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <input name="college" placeholder="Enter Your College:" class="button4">
      </div>
      <br>
      <div class="col-md-6">
        <input name="year" placeholder="Enter Your Year of Passing:" class="button4">
      </div>
   </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <input name="company" placeholder="Enter Your Company You Work in:" class="button4">
      </div>
      <br>
      <div class="col-md-6">
        <input name="currentctc" placeholder="Enter Your CTC:" class="button4">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <input name="designation" placeholder="Enter Your Designation:" class="button4">
      </div>
      <br>
      <div class="col-md-6">
        <input name="skill" placeholder="Enter Your Primary Skill Just one:" class="button4">
      </div>
      <br>
    </div>
    <br>
    <button class="button5">Submit</button>
    <br>
    <br>
</div>
</form>
