<form >
  <div class="col-md-12">
    <input name="name" placeholder="Enter Your Name:">
  </div>
  <div class="col-md-12">
    <input name="college" placeholder="Enter Your College:">
  </div>
  <div class="col-md-6">
    <input name="year" placeholder="Enter Your Year of Passing:">
  </div>
  <div class="col-md-6">
    <input name="company" placeholder="Enter Your Company You Work in:">
  </div>
  <div class="col-md-6">
    <input name="currentctc" placeholder="Enter Your CTC:">
  </div>
  <div>
    <input name="designation" placeholder="Enter Your Designation:">
  </div>
  <div>
    <input name="skill" placeholder="Enter Your Primary Skill Just one:">
  </div>
</form>
